* {
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", sans-serif;
}

div {
    text-align: center;
}

#header {
    font-size: 20px;
}

#navbar {
    font-size: 18px;
    padding: 16px;
    background-color: #87372b;
}

#header,
#main-content,
#footer {
    padding: 5px;
    color: white;
    background-color: #d99545;
}

a {
    padding: 8px;
    color: white;
}

#ingredients,
#steps {
    text-align: left;
    background-color: tan;
    color: black;
    padding: 8px;
    margin: 16px;
}

